# Default ignored files
/../../../../../../../../../OneDrive-Persönlich/Documents/Uni_St.Gallen/BCS/3.Semester/Statistik_für_Data_Science/Übungen/Woche9/.idea/shelf/
/../../../../../../../../../OneDrive-Persönlich/Documents/Uni_St.Gallen/BCS/3.Semester/Statistik_für_Data_Science/Übungen/Woche9/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../OneDrive-Persönlich/Documents/Uni_St.Gallen/BCS/3.Semester/Statistik_für_Data_Science/Übungen/Woche9/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../../OneDrive-Persönlich/Documents/Uni_St.Gallen/BCS/3.Semester/Statistik_für_Data_Science/Übungen/Woche9/.idea/dataSources/
/../../../../../../../../../OneDrive-Persönlich/Documents/Uni_St.Gallen/BCS/3.Semester/Statistik_für_Data_Science/Übungen/Woche9/.idea/dataSources.local.xml
